body{
   background-color: #f6f6f7;
   font-family: system-ui;
  a {
    color: #fff;
    text-decoration: none;
  }
}
section {
  max-width: 480px;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 20px;
}
p, h1, h2, h3, ol {
  color: #fff;
}
.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #fff;
  margin-bottom: 10px;
}
@media (max-width: 960px) { /* Target smaller screens (e.g., tablets) */
  .welcome {
    min-height: 70vh; /* Adjust the minimum height for smaller screens */
  }
}

@media (max-width: 600px) { /* Target even smaller screens (e.g., phones) */
  .welcome {
    min-height: 100vh; /* Adjust the minimum height for very small screens */
  }
}

.title {
  margin-top: 10px;
  h1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #000;
  }
  .by {
    font-size: 18px;
    font-weight: 300;
  }
}

.nextSection {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px;
  background-color: #0077ed;
  border-radius: 50%;
  padding: 7px 25px;
  margin: 0 auto;
  width: 0px;
  animation: bounce 1s infinite ease-in-out;
}

@keyframes bounce {
  0% {
    transform: translateY(0)  rotate(90deg);
  }
  50% {
    transform: translateY(-8px)  rotate(90deg);
  }
  100% {
    transform: translateY(0)  rotate(90deg);
  }
}

.imgFrame{
  width: 100%;
}
.info {
   background-image: linear-gradient(to bottom right,#0096FF,#BB64FF,#F55273);
   /*box-shadow: 0px 0px 10px rgba(125,119,125,1);  theme-dark: 0px 0px 10px rgba(0,0,0,1); */
  }
.addLink {
  text-align: center;
  padding: 20px 0px;
  font-weight: 600;
}
.addShortcut {
    background-color: rgb(66 66 69/70%);
    padding: 1rem;
    border-radius: 50px;
    color: #fff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
 }
.text {
  opacity: 0;
  width: 0px;
}
.text.visible {
    overflow: hidden;
    animation: show-text 1.5s forwards;
    will-change: transform;
  }
 @keyframes show-text {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: auto;
    margin-right: 10px;
  }
}
.plus {
    font-size: 20px;
    text-align: center;
    background-color: #0077ed;
    border-radius: 50px;
    padding: 2px 10px 5px;
    color: #fff;
 }
